<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Grid Shape</key>
	<string>Odd</string>
	<key>Grid Size</key>
	<array>
		<integer>34</integer>
		<integer>21</integer>
	</array>
	<key>Tile Displays Coordinates</key>
	<true/>
	<key>Tile Radius</key>
	<integer>44</integer>
	<key>Tile Shape</key>
	<string>FlatTopped</string>
</dict>
</plist>
